# Bot
TOKEN=YOUR OWN BOT TOKEN
EMBED_COLOR=#00f1ff

# Dev
OWNER_ID=YOUR DISCORD ID

# Database
MONGO_URI=YOUR MONGODB

# Boost logger
BOOST_CHANNELID=YOUR CHANNEL ID FOR USER BOOSTER ANNOUNCE
BOOST_LOGCHANNELID=YOUR CHANNEL ID FOR BOOSTER LOG

# Member Join channel
MEMBER_JOINEDCH=YOUR CHANNEL ID WHEN MEMBER JOIN YOUR SERVER

# Role Position
POSITION_ROLE=YOUR ROLE ID